.events-page {
  align-items: center;
  background-color: var(--wild-sand);
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}

.overlap-group4-2 {
  align-self: flex-start;
  height: 244px;
  position: relative;
  width: 1450px;
}

.images-2 {
  align-items: center;
  display: flex;
  height: 225px;
  left: 0;
  min-width: 1433px;
  position: absolute;
  top: 0;
}

.logo-2 {
  align-self: flex-start;
  height: 166px;
  margin-top: 7px;
  object-fit: cover;
  width: 468px;
}

.image-4-2 {
  height: 37px;
  margin-bottom: 82.0px;
  margin-left: 7px;
  object-fit: cover;
  width: 340px;
}

.overlap-group-4 {
  align-items: center;
  background-image: url(/img/rectangle-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-top: 59.0px;
  min-width: 273px;
  padding: 0 10px;
}

.icon-search-icon-2 {
  height: 22px;
  margin-bottom: 0.84px;
  width: 22px;
}

.searchplaceholde-2 {
  letter-spacing: 0;
  margin-left: 13px;
  min-height: 28px;
  width: 213px;
}

.image-3-2 {
  height: 225px;
  margin-left: 120px;
  object-fit: cover;
  width: 225px;
}

.overlap-group1-3 {
  align-items: flex-start;
  background-color: var(--red);
  display: flex;
  height: 60px;
  left: 0;
  min-width: 1440px;
  padding: 0 121px;
  position: absolute;
  top: 184px;
}

.place-2 {
  align-self: center;
  cursor: pointer;
  letter-spacing: 0;
  margin-top: 2.0px;
  min-height: 34px;
  width: 77px;
}

.overlap-group-5 {
  align-self: flex-end;
  height: 58px;
  position: relative;
  width: 183px;
}

.text-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.inspiration-2 {
  left: 20px;
  letter-spacing: 0;
  position: absolute;
  top: 12px;
  width: 163px;
}

.overlap-group2-2 {
  height: 46px;
  margin-top: 2px;
  position: relative;
  width: 123px;
}

.events-2 {
  cursor: pointer;
  left: 23px;
  letter-spacing: 0;
  position: absolute;
  top: 12px;
  width: 100px;
}

.flex-row-3 {
  align-items: flex-end;
  display: flex;
  margin-left: 6.0px;
  margin-top: 26px;
  min-width: 1350px;
}

.overlap-group6 {
  align-items: flex-start;
  background-color: var(--mist-gray);
  display: flex;
  height: 86px;
  min-width: 275px;
  padding: 10px 6px;
}

.rectangle-28 {
  height: 61px;
  object-fit: cover;
  width: 73px;
}

.text-17 {
  letter-spacing: 0;
  margin-left: 6px;
  margin-top: 1px;
  min-height: 58px;
}

.overlap-group5-1 {
  align-items: center;
  background-color: var(--mist-gray);
  display: flex;
  height: 83px;
  margin-left: 74px;
  min-width: 275px;
  padding: 0 7px;
}

.rectangle-29 {
  height: 59px;
  object-fit: cover;
  width: 79px;
}

.location {
  letter-spacing: 0;
  margin-bottom: 8.0px;
  margin-left: 6px;
  min-height: 29px;
  min-width: 90px;
}

.overlap-group3-2 {
  align-items: center;
  background-color: var(--mist-gray);
  display: flex;
  height: 83px;
  margin-left: 87px;
  min-width: 268px;
  padding: 8px 12px;
}

.rectangle-30 {
  align-self: flex-end;
  height: 54px;
  object-fit: cover;
  width: 70px;
}

.seat-25-people {
  letter-spacing: 0;
  margin-left: 7px;
  margin-top: 3.0px;
  min-height: 40px;
  width: 144px;
}

.overlap-group7 {
  align-items: center;
  background-color: var(--mist-gray);
  display: flex;
  height: 86px;
  margin-left: 73px;
  min-width: 298px;
  padding: 13px 6px;
}

.rectangle-31 {
  align-self: flex-end;
  height: 53px;
  object-fit: cover;
  width: 63px;
}

.speakers-4-exerts {
  letter-spacing: 0;
  margin-left: 8px;
  min-height: 46px;
  width: 167px;
}

.flex-row-4 {
  align-items: flex-start;
  display: flex;
  height: 475px;
  margin-right: 22.0px;
  margin-top: 26px;
  min-width: 1378px;
}

.flex-col-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 409px;
  width: 520px;
}

.flex-row-5 {
  align-items: flex-start;
  display: flex;
  height: 40px;
  min-width: 448px;
}

.about-the-event {
  letter-spacing: 0;
  min-height: 40px;
  width: 202px;
}

.what-you-will-learn {
  letter-spacing: 0;
  margin-left: 32px;
  min-height: 36px;
  width: 214px;
}

.rectangle-34 {
  background-color: var(--mist-gray);
  height: 74px;
  margin-top: 6px;
  width: 520px;
}

.rectangle-35 {
  background-color: var(--mist-gray);
  height: 88px;
  margin-top: 33px;
  width: 514px;
}

.rectangle-36 {
  background-color: var(--mist-gray);
  height: 89px;
  margin-top: 33px;
  width: 514px;
}

.title {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 9px;
  margin-top: 10px;
  min-height: 36px;
  width: 236px;
}

.flex-col-6 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 345px;
  min-height: 467px;
  width: 513px;
}

.rectangle-33 {
  height: 217px;
  object-fit: cover;
  width: 513px;
}

.rectangle-32 {
  height: 250px;
  object-fit: cover;
  width: 272px;
}

